body{
    background-color: ghostwhite;
    height: 100vh;
}

h1{
    color: cornflowerblue;
}

.sign-up, .log-in, .search{
    margin-top: 10%;
}

.log-in-nav{
    background-image: url("/public/assets/images/log-in.png")
}
