body{
    background: #AF002A;
    background: -moz-linear-gradient(-45deg, #AF002A 0%, #E32636 67%, #AF002A 100%);
    background: -webkit-linear-gradient(-45deg, #AF002A 0%, #E32636 67%, #AF002A 100%);
    background: linear-gradient(135deg, #AF002A 0%, #E32636 67%, #AF002A 100%);
    height: 100vh;
}

h1{
    color: cornflowerblue;
}

.sign-up, .log-in, .search{
    margin-top: 10%;
}

